<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Måndag", "Index", "Home", new { date = "2019-01-21" }, null)</li>
                    <li> @Html.ActionLink("Tisdag", "Days", "VM", new { date = "2019-01-22" }, null)</li>
                    <li> @Html.ActionLink("Onsdag", "Days", "VM", new { date = "2019-01-23" }, null)</li>
                    <li> @Html.ActionLink("Torsdag", "Days", "VM", new { date = "2019-01-24" }, null)</li>
                    <li> @Html.ActionLink("Fredag", "Days", "VM", new { date = "2019-01-25" }, null)</li>
                    <li> @Html.ActionLink("Lördag", "Days", "VM", new { date = "2019-01-26" }, null)</li>
                    <li> @Html.ActionLink("Söndag", "Days", "VM", new { date = "2019-01-27" }, null)</li>
                </ul>
                <form method="get" action="@Url.Action("Tomorrow","Test")">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="pword"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pword" required>

                    <button type="submit" name="date" id="date" value="@DateTime.Now.Date">Login</button>

                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Date My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>







