@{
    ViewBag.Title = "Home Page";
}

@model List<ListTv.ViewModels.ProgramVM>

<h2 class="hdate">Idag</h2>

@helper Rename(int id)
{

    if (id == 1)
    {
        <p>Svt</p>;
    }
    else if (id == 2)
    {
        <p>Tv3</p>;
    }
    else if (id == 4)
    {
        <pp>Tv4</pp>;
    }
    else if (id == 5)
    {
        <p>Tv6</p>;
    }
    else
    {
        <p>Kanal 5</p>;
    }
}


<div id="puffar">
    @foreach (var item in ViewBag.PuffList)
    {
        <div class="puff">
            <p>@item.ProgramName</p>
            <p>@Rename(item.ChannelId)</p>
            <p>@item.Date</p>
            <p>@item.Time</p>
            <p>@item.Info</p>
        </div>
    }
</div>

<div class="category">
    <h3 id="genreh">Genre</h3>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Nyheter">Nyheter</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Komedi">Komedi</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Reality">Reality</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Drama">Drama</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Action">Action</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Sport">Sport</button>
    </form>
</div>



<div id="main">


    <div class="kanal">
        <h2 class="kh">Svt</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 1)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2 class="kh">Tv3</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 2)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2 class="kh">Tv4</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 4)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2 class="kh">Kanal 5</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 6)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2 class="kh">Tv6</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 5)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
