
@{
    ViewBag.Title = "Days";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ListTv.ViewModels.ProgramVM>



@for (int x = 0; x < 1; x++)
{
    foreach (var m in Model)
    {
        //string dateTime = Convert.ToString(@m.Date.Value);
        //string boop = dateTime.ToShortDateString();


        string dagen = m.Date.Value.ToString("dddddd");



        <h2 class="hdate">@dagen</h2>
        break;
    }

}
@helper Rename(int id)
{

    if (id == 1)
    {
        <p>Svt</p>;
    }
    else if (id == 2)
    {
        <p>Tv3</p>;
    }
    else if (id == 4)
    {
        <pp>Tv4</pp>;
    }
    else if (id == 5)
    {
        <p>Tv6</p>;
    }
    else
    {
        <p>Kanal 5</p>;
    }
}


<div id="tpuffar">
        @foreach (var item in ViewBag.PuffList)
        {
        <div class="tpuff">
            <table>
                <tr>
                    <td id="pTh"><b>@item.ProgramName</b></td>
                    <td>@Rename(item.ChannelId)</td>
                </tr>
                <tr>
                    <td>@item.Date.ToString("dd/MM")</td>
                    <td>@item.Time.ToString("hh\\:mm")</td>
                </tr>
            </table>
                <p class="infoTd">@item.Info</p>
        </div>
    }
</div>

@*<div id="puffar">
    @foreach (var item in ViewBag.PuffList)
    {
        <div class="puff">
            <p><b>@item.ProgramName</b></p>
            <p>@Rename(item.ChannelId)</p>
            <p>@item.Date.ToString("dd/MM")</p>
            <p>@item.Time.ToString("hh\\:mm")</p>
            <p>@item.Info</p>
        </div>
    }
</div>*@

<div class="category">
    <h3 id="genreh">Genre</h3>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Nyheter">Nyheter</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Komedi">Komedi</button>
    </form>
    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Reality">Reality</button>
    </form>

    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Drama">Drama</button>
    </form>

    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Action">Action</button>
    </form>

    <form method="get" action="@Url.Action("Genre", "VM")">
        <input type="hidden" id="datet" value="@ViewBag.Datumet" name="datet" />
        <button type="submit" name="cat" class="cat" value="Sport">Sport</button>
    </form>
</div>

<div id="main">
    <div class="kanal">
        <h2>Svt</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 1)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2>Tv3</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 2)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2>Tv4</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 4)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2>Kanal 5</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 6)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="kanal">
        <h2>Tv6</h2>
        <table>
            <tr>
                <th class="thprog">Program</th>
                <th class="thtid">Tid</th>
            </tr>
            @foreach (var p in Model)
            {
                if (p.ChannelId == 5)
                {
                    <tr>
                        <td class="thprog">@Html.ActionLink(p.ProgramName, "ShowMore", "VM", new { id = p.Id }, null)</td>
                        <td class="thtid">@p.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
