
@{
    ViewBag.Title = "ShowMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ListTv.ViewModels.ShowMore>


<div id="smore">
    <div>
        @foreach (var m in Model)
        {
            <h2 class="hdate">@m.ProgramName</h2>
            <p><b>@m.Date.ToString()</b></p>
            <p>Programmet börjar klockan @m.Time och varar i @m.Length</p>
            <p>Det är ett program av typen @m.Category och sänds på @m.ChannelName.</p>
            <br />
            <p>@m.Info</p>
        }
    </div>
</div>



